<?xml version="1.0"?>
<robot name="summit_xl" xmlns:xacro="http://www.ros.org/wiki/xacro"> 


	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import summit XL base elements -->
	<xacro:include filename="$(find arm)/urdf/arm_dual.urdf.xacro" />
  
	
 	 
 	 <xacro:include filename="$(find hector_sensors_description)/urdf/asus_camera.urdf.xacro" />	 
		 	
  

	<xacro:arm_dual/>


  
	
</robot>

